*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
}
.product{
    
    display: flex;
    
}
.imgs{
    margin-left: 0;
    margin-right: 0;
    width: 100px;
}
.image{
    width: 220px;
    background-image: url(./Image/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 0px 0px 10px;
    

}
.content{
    width: 220px;
    padding: 20px;
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
}
.tittle{
    padding-top: 10px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}
.product-tittle{
    padding-top: 20px;
    color: hsl(212, 21%, 14%);
    font-size: 30px;
}
.product-p{
    color: hsl(228, 12%, 48%);
    padding: 20px 0px;
}
.price-area{
    display: flex;
}
.price{
    color: hsl(158, 36%, 37%);
    padding: 5px 30px 20px 0px;
}
.sale-price{
    font-size: 14px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin-top: 8px;
}

.button{
    background-color: hsl(158, 36%, 37%);
    border-radius: 15px;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 10px;
}
.icon{
    width: 14px;
    position: relative;
    top: 2px;
    right: 10px;
    
}
a{
    text-decoration: none;
    color: #fff;
}
